{%- if product_card_product and product_card_product != empty -%}
  {%- liquid
    assign products_hover_images = settings.products_hover_images
    assign products_hover_images_count = settings.products_hover_images_count
    assign product_aspect_ratio = settings.product_aspect_ratio
    assign featured_media = product_card_product.featured_media
    assign ratio = 1
    assign sizes = '375x375,1000x770'
    assign is_video = false
    assign use_video = settings.products_use_video
      
    if featured_media.media_type != 'image'
      if featured_media.media_type == 'video' and use_video
        assign is_video = true
        assign featured_media = featured_media
      else
        assign featured_media = featured_media.preview_image
      endif
    endif
    if product_aspect_ratio == 'adapt'
      if featured_media
        assign ratio = featured_media.aspect_ratio
      endif
      assign sizes = '375x0,1000x0'
    elsif product_aspect_ratio == 'portrait'
      assign ratio = 1 | divided_by: 1.50
      assign sizes = '375x350,1000x700'
    elsif product_aspect_ratio == 'landscape'
      assign ratio = 1 | divided_by: 0.75
      assign sizes = '375x250,1000x500'
    endif
    assign product_content_alignment = settings.product_content_alignment

    assign is_purchasable = false
    if product_card_product.available and product_card_product.variants.size == 1
      assign is_purchasable = true
    endif
    if product_card_product.price == 9999900
    assign hide_price = true
    endif

    # Product card options
    assign show_size_options = settings.show_size_options
    assign size_options_variant_name = settings.size_options_variant_name
    assign size_options_limit = settings.size_options_limit
  -%}
  <product-card
    class="product-card text-{{ product_content_alignment }}"
    data-handle="{{ product.handle }}"
  >
    <figure class="product-featured-image {% if products_hover_images and product_card_product.images.size > 1 and products_hover_images_count > 0 %}thb-hover{% endif %}">
      {% if false %}
        {% render 'product-card-badge', product_card_product: product_card_product %}
      {% endif %}
      {% assign product = product_card_product %}
      <button class="st-wishlist-button m-none mobile_message" data-type="details" button-wishlist data-product-handle="{{ product.handle }}" data-handle="{{ product.handle }}" ></button>
      {%- if product_card_product.images.size > 1 -%}
        <slider-component
          class="product-featured-image-link aspect-ratio aspect-ratio--{{ settings.product_aspect_ratio }}"
          style="--padding-bottom: {{ 1 | divided_by: ratio | times: 100 | round }}%;"
        >
          {%- if products_hover_images and product_card_product.images.size > 1 -%}
            {%- for i in (0..products_hover_images_count) -%}
              {%- if product_card_product.images[i] -%}
                <div
                  onclick="location.href='{{ product_card_product.url | within: collection }}'"
                  class="carousel_slide"
                >
                  {%- render 'responsive-image',
                    class: 'product-secondary-image',
                    image: product_card_product.images[i],
                    sizes: sizes,
                    priority: 'low',
                    defer: true
                  -%}
                </div>
              {%- endif -%}
            {%- endfor %}
          {%- endif -%}
          {%- if featured_media -%}
            {%- if is_video and use_video -%}
              {{
                featured_media
                | video_tag: controls: false, loading: 'lazy', loop: true, autoplay: true, image_size: '770x'
              }}
            {%- else -%}
            {%- endif -%}
          {%- else -%}
            <div class="thb-placeholder">
              {{ 'product-1' | placeholder_svg_tag }}
            </div>
          {%- endif -%}
          {% if product_card_product.images.size > 1 %}
            {%- render 'slideshow-arrows-v1' -%}
            {% comment %}
              {%- render 'slideshow-arrows-v2', is_mobile: true -%}
            {% endcomment %}
          {% endif %}
        </slider-component>
      {%- else -%}
        <div
          class="product-featured-image-link aspect-ratio aspect-ratio--{{ settings.product_aspect_ratio }}"
          style="--padding-bottom: {{ 1 | divided_by: ratio | times: 100 | round }}%;"
        >
          {%- for i in (0..products_hover_images_count) -%}
            {%- if product_card_product.images[i] -%}
              <div
                onclick="location.href='{{ product_card_product.url | within: collection }}'"
                class="carousel_slide"
              >
                {%- render 'responsive-image',
                  class: 'product-secondary-image',
                  image: product_card_product.images[i],
                  sizes: sizes,
                  priority: 'low',
                  defer: true
                -%}
              </div>
            {%- endif -%}
          {%- endfor %}
        </div>
      {%- endif -%}

      {% if product_card_product.images.size > 1 %}
        <div class="flickity-progress"><div class="flickity-progress--bar"></div></div>
      {% endif %}
      {%- if settings.enable_quick_view -%}
        <quick-view
          class="product-card-quickview product-card-quickview--{%- unless show_size_options -%}button{%- else -%}icon{%- endunless -%}"
          data-product-handle="{{ product_card_product.handle }}"
          tabindex="-1"
        >
          <div class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</div>
          <span>
            {%- unless show_size_options -%}
              {{ 'products.product.quick_view' | t }}
            {%- else -%}
              {% render 'svg-icons' with 'thb-quick-view' %}
            {%- endunless -%}
          </span>
        </quick-view>
      {%- endif -%}
      {%- if show_size_options -%}
        {%- render 'product-card-size-options', product_card_product: product_card_product -%}
      {%- endif -%}
      {% comment %}
        {% if product_card_product.images.size <= 1 %}
          {% assign is_hide = 'hide' %}
        {% else %}
          {% assign is_hide = 'btn' %}
        {% endif %}
        <button class="product-prev slide-btn {{ is_hide }} ">
          {{ 'icon-caret.svg' | inline_asset_content }}
        </button>
        <button class="product-next slide-btn {{ is_hide }}">
          {{ 'icon-caret.svg' | inline_asset_content }}
        </button>
      {% endcomment %}
    </figure>
    <div class="product-card-info">
      <button
        class="st-wishlist-button d-none"
        data-type="details"
        button-wishlist
        data-product-handle="{{ product.handle }}"
        data-handle="{{ product.handle }}"
      ></button>
      {%- if settings.show_products_vendor -%}
        <div class="product-card-vendor">
          <a
            href="{{ product_card_product.vendor | url_for_vendor }}"
            title="{{ product_card_product.vendor | escape }}"
          >
            {{- product_card_product.vendor -}}
          </a>
        </div>
      {%- endif -%}
      <a
        href="{{ product_card_product.url | within: collection }}"
        title="{{ product_card_product.title | escape }}"
        class="product-card-title"
      >
        {{- product_card_product.title | downcase -}}
      </a>
    {%- unless hide_price -%}
      {% render 'product-price', product: product_card_product %}
    {%- endunless -%}      
  {% render 'product-card-swatch', product: product_card_product, sizes: sizes %}
      {%- if settings.show_products_rating and product_card_product.metafields.reviews.rating.value != blank -%}
        <div
          class="star-rating"
          style="--star-rating: {{ product_card_product.metafields.reviews.rating.value.rating }};"
        ></div>
      {%- endif -%}
      {%- if settings.show_products_subtitle and product_card_product.metafields.descriptors.subtitle != blank -%}
        <p class="product-card-subtitle">{{ product_card_product.metafields.descriptors.subtitle }}</p>
      {%- endif -%}
      {%- if settings.enable_quick_add -%}
        {%- liquid
          assign button_tag = 'button'
          if product_card_product.selected_or_first_available_variant.available == false
            assign button_content = 'products.product.sold_out' | t
          else
            if product_card_product.metafields.theme.preorder and product_card_product.available
              assign button_content = 'products.product.pre_order' | t
            else
              if is_purchasable
                assign button_content = 'products.product.add_to_cart' | t
              else
                assign button_content = 'products.product.choose_options' | t
              endif
            endif

            unless is_purchasable
              assign button_tag = 'quick-view'
            endunless
          endif
        -%}
        <div class="product-card--add-to-cart-button-container">
          <{{ button_tag }}
            class="product-card--add-to-cart-button outline{% if is_purchasable %} product-card--add-to-cart-button-simple{% endif %} button accent"
            data-product-id="{{ product_card_product.selected_or_first_available_variant.id }}"
            data-product-handle="{{ product_card_product.handle }}"
            tabindex="-1"
            {% if product_card_product.selected_or_first_available_variant.available == false %}
              disabled
            {% endif %}
          >
            <span class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</span>
            <span class="product-card--add-to-cart-text">{{ button_content }}</span>
          </{{ button_tag }}>
        </div>
      {%- endif -%}
      {%- if products_hover_images and product_card_product.images.size > 1 and settings.products_hover_dots -%}
        <ul class="product-secondary-images-nav">
          {% if product_card_product.featured_media != blank %}
            <li class="first-media"></li>
          {% endif %}
          {%- for i in (1..products_hover_images_count) -%}
            {%- if product_card_product.images[i] -%}
              <li></li>
            {%- endif -%}
          {%- endfor %}
        </ul>
      {%- endif -%}
    </div>
  </product-card>
{%- else -%}
  <product-card class="product-card">
    <figure class="product-featured-image {% if settings.products_hover_images %}thb-hover{% endif %}">
      <a
        href="{{ product_card_product.url | within: collection }}"
        data-title="{{ product_card_product.title | escape }}"
        class="product-featured-image-link aspect-ratio aspect-ratio--{{ settings.product_aspect_ratio }}"
        style="--padding-bottom: {{ 1 | divided_by: 1 | times: 100 | round }}%;"
      >
        <div class="thb-placeholder">
          {{ 'product-1' | placeholder_svg_tag }}
        </div>
        <button
          class="product-card-quickview  product-card-quickview--{%- unless show_size_options -%}button{%- else -%}icon{%- endunless -%}"
          data-product-handle="{{ product_card_product.handle }}"
          tabindex="-1"
        >
          <div class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</div>
          <span>{{ 'products.product.quick_view' | t }}</span>
        </button>
      </a>
    </figure>
    <div class="product-card-info">
      <div class="product-card-vendor">
        <a href="#" title="{{ 'onboarding.product_vendor' | t }}">{{ 'onboarding.product_vendor' | t }}</a>
      </div>
      <a href="#" title="{{ product_card_product.title | escape }}" class="product-card-title">
        {{- 'onboarding.product_title' | t -}}
      </a>
      {% render 'product-price', product: product_card_product %}
      {%- if settings.show_products_rating and product_card_product.metafields.reviews.rating.value != blank -%}
        <div class="star-rating" style="--star-rating: 5;"></div>
      {%- endif -%}
      {%- if settings.enable_quick_add -%}
        <div class="product-card--add-to-cart-button-container">
          <quick-view
            class="product-card--add-to-cart-button button outline"
            data-product-handle=""
            tabindex="-1"
            disabled
          >
            <span class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</span>
            <span class="product-card--add-to-cart-text">{{ 'products.product.choose_options' | t }}</span>
          </quick-view>
        </div>
      {%- endif -%}
    </div>
  </product-card>
{%- endif -%}