<slider-component class="products carousel row no-padding suggested_card">
  <div class="carousel_slide column small-6 medium-6 carousel__slide">
   <div class="thumb_product cover_img">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-li="st" d-src="https://cdn.shopify.com/s/files/1/0605/8872/0370/files/mother-of-the-bride.jpg?v=1747863310">
    </div>
   <a href="{{ collections['mother-of-the-bride'].url }}">
      <p>Mother of the Bride</p>
    </a>
  </div>
  <div class="carousel_slide column small-6 medium-6 carousel__slide">
     <div class="thumb_product cover_img">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-li="st" d-src="https://cdn.shopify.com/s/files/1/0605/8872/0370/files/cocktail.jpg?v=1747863606">
    </div>
   <a href="{{ collections['cocktail-dress-1'].url }}">
      <p>Cocktail</p>
    </a>
  </div>
  <div class="carousel_slide column small-6 medium-6 carousel__slide">
    <div class="thumb_product cover_img">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-li="st" d-src="https://cdn.shopify.com/s/files/1/0605/8872/0370/files/wedding-guest.jpg?v=1747863871">
    </div>
    <a href="{{ collections['wedding-guest'].url }}">
      <p>Wedding Guest</p>
    </a>
  </div>
  <div class="carousel_slide column small-6 medium-6 carousel__slide">
    <div class="thumb_product cover_img">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-li="st" d-src="https://cdn.shopify.com/s/files/1/0605/8872/0370/files/Daywear.jpg?v=1747864041">
    </div>
    <a href="{{ collections['daywear'].url }}">
      <p>Daywear</p>
    </a>
  </div>
  <div class="flickity-nav product-next flickity-prev" tabindex="0"><img width="30" height="30" src="{{ 'arrow-left.svg' | asset_url }}"></div>
  <div class="flickity-nav product-prev flickity-next" tabindex="0"><img width="30" height="30" src="{{ 'arrow-right.svg' | asset_url }}"></div>
</slider-component>
