{%- liquid
  assign show_collection_image = section.settings.show_collection_image
  assign show_collection_description = section.settings.show_collection_description
  assign show_subcollections = section.settings.show_subcollections
  assign make_heading_uppercase = section.settings.make_heading_uppercase
  assign text_alignment = section.settings.text_alignment
  assign overlay_color = section.settings.overlay_color
  assign overlay_opacity = section.settings.overlay_opacity
  assign max_container = section.settings['max-container']

  assign image = collection.featured_image
  assign title = collection.title
  assign description = collection.description
  assign collection_handle = collection.handle

  if section.settings.image and collection.handle == 'all'
    assign image = section.settings.image
  endif
-%}
{%- if template == 'search' -%}
  <style>
    .collection-banner .searchcontainer {
      margin: 25px 0;
    }
  </style>
  {%- liquid
    assign show_collection_image = false
    assign show_subcollections = false
    assign title = 'search.heading' | t
  -%}
  {%- capture description %}
    {% assign search_phrase = search.terms | replace: '*', '' %}
    {% if '' != search_phrase %}
        <p>{{ 'search.results_found' | t: count: search.results_count, key: search_phrase }}</p>
    {% endif %}
  {%- endcapture -%}
{%- endif -%}
{{ 'collection-banner.css' | asset_url | stylesheet_tag }}

<div
  class="collection-{{ section.id }} collection-banner collection-banner--heading-uppercase-{{ make_heading_uppercase }}{% if show_collection_image and image %} collection-banner--has-bg{% endif %}"
  style="--overlay-color-rgb: {{ overlay_color.rgb | replace: ' ' , ',' }}; --overlay-opacity: {{ overlay_opacity | divided_by: 100.0 }}"
>
  <div
    class="collection-{{ section.id }} row"
    {% if max_container != blank %}
      style="max-width: {{ max_container }}px"
    {% endif %}
  >
    <div class="small-12 columns">
      {%- if show_collection_image and image -%}
        <div class="collection-banner--image">
          {%- render 'responsive-image', image: image, sizes: '0x350,0x700', priority: 'high' -%}
        </div>
      {%- endif -%}
      <div class="collection-banner--content text-{{ text_alignment }}">
        {% if template == 'search' %}
          <style></style>
          <predictive-search class="searchcontainer">
            <form role="search" method="get" class="searchform" action="{{ routes.search_url }}">
              <fieldset>
                <div class="custom-search-wrapper">
                  <input
                    type="search"
                    class="search-field"
                    name="q"
                    autocomplete="off"
                    id="main-search-In-Modal"
                    placehholder="What you are looking for"
                  >
                  <label class="custom-placeholder" for="main-search-In-Modal">
                    What are you looking for<span class="different-font">?</span>
                  </label>
                  <button type="submit" class="button-submit"></button>
                </div>
                <!--
                  <input type="search" class="search-field" placeholder="{{ 'sections.header.search_for' | t }}" value="{{ search.terms | replace: '*', '' }}" name="q" autocomplete="off">
                -->
              </fieldset>
            </form>

            <div class="side-panel-content--has-tabs">
              {% comment %}
                               {%- if predictive_search.performed -%}
                {%- liquid
                	assign predictive_search_products = predictive_search.resources.products

                	assign predictive_search_queries = predictive_search.resources.queries
                	-%}
                {%- if predictive_search_queries.size > 0 -%}
                	<div class="thb-predictive-search--popular">
                		<span class="thb-predictive-search--label">{{ 'sections.header.suggestions' | t }}</span>
                		<scroll-shadow>
                			<div>
                				{%- for query in predictive_search_queries -%}
                				<a href="{{ query.url }}" class="predictive-search__item link link--text" tabindex="-1">{{ query.styled_text }}</a>
                				{%- endfor -%}
                			</div>
                		</scroll-shadow>
                	</div>
                	{%- endif -%}

                             {% endif %}
              {% endcomment %}
            </div>
          </predictive-search>
        {% endif %}
        {%- if show_collection_description and description != '' -%}
          <div class="collection-banner--description">
            <p>{{ description }}</p>
          </div>
        {%- endif -%}
        {%- if show_subcollections and linklists[collection_handle] != empty -%}
          {%- capture subcollection_links -%}
          {%- for link in linklists[collection_handle].links -%}
            {%- assign link_collection = collections[link.handle] -%}
            {%- if link_collection != blank -%}
              <a href="{{ link_collection.url }}" title="{{ link_collection.title | escape }}" class="text-button{% if show_collection_image and image %} white{% endif %}">{{ link_collection.title }}</a>
            {%- endif -%}
          {%- endfor -%}
          {%- endcapture -%}
          {%- if subcollection_links != '' -%}
            <div class="collection-banner--subcollections">
              {{ subcollection_links }}
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
<script type="load" d-src="{{ 'custom-predictive-search.js' | asset_url }}"></script>
{% schema %}
{
  "name": "Collection banner",
  "settings": [
    {
      "type": "header",
      "content": "Collection page"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": true,
      "label": "Show collection image"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "Show collection description"
    },
    {
      "type": "checkbox",
      "id": "show_subcollections",
      "default": true,
      "label": "Show subcollections",
      "info": "Links to subcollections from your menu will appear here. [Learn more.](https://documentation.fuelthemes.net/kb/how-do-i-add-sub-category-links-inside-main-collection-banner/)"
    },
    {
      "type": "checkbox",
      "id": "make_heading_uppercase",
      "default": false,
      "label": "Make heading uppercase"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Content alignment"
    },
    {
      "type": "header",
      "content": "Catalog page"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [catalog page](https://help.shopify.com/en/manual/online-store/themes/themes-by-shopify/vintage-themes/customizing-vintage-themes/change-catalog-page)"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Catalog image",
      "info": "Changes the image for the [catalog page](https://help.shopify.com/en/manual/online-store/themes/themes-by-shopify/vintage-themes/customizing-vintage-themes/change-catalog-page). 1920 x 640 px .jpg recommended."
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Overlay opacity",
      "default": 20
    },
    {
      "type": "text",
      "id": "max-container",
      "label": "Max container width"
    }
  ]
}
{% endschema %}
