{{ 'customer.css' | asset_url | stylesheet_tag }}
<div class="" data-account-tab="overview">
  {% comment %}
  <div class="accound-page-wrapper">
    <div class="myaccount--header space-around">
      <h2 class="myaccount--title">Contact Preferences</h2>

      <div class="contact-preference">
        <div class="col-item ">
          <div class="col-icon-wrapper">
            <div class="icon-sign">
              <img
                src="https://cdn.shopify.com/s/files/1/0605/8872/0370/files/icon-sign.svg?v=1742894532"
                class="icon-sign-box"
              >
            </div>
            <div class="main-icon-wrap">
              <img
                src="https://cdn.shopify.com/s/files/1/0605/8872/0370/files/Message.svg?v=1742894280"
                class="img-box"
              >
            </div>
            <div class="icon-text">Newsletter</div>
          </div>
        </div>

        <div class="col-item">
          <div class="col-icon-wrapper">
            <div class="icon-sign">
              <img
                src="https://cdn.shopify.com/s/files/1/0605/8872/0370/files/icon-close.svg?v=1742894880"
                class="icon-sign-box"
              >
            </div>
            <div class="main-icon-wrap">
              <img
                src="https://cdn.shopify.com/s/files/1/0605/8872/0370/files/icon-phone.svg?v=1742894781"
                class="img-box"
              >
            </div>
            <div class="icon-text">Phone</div>
          </div>
        </div>

        <div class="col-item">
          <div class="col-icon-wrapper">
            <div class="icon-sign">
              <img
                src="https://cdn.shopify.com/s/files/1/0605/8872/0370/files/icon-close.svg?v=1742894880"
                class="icon-sign-box"
              >
            </div>
            <div class="main-icon-wrap">
              <img
                src="https://cdn.shopify.com/s/files/1/0605/8872/0370/files/icon-message-two.svg?v=1742894997"
                class="img-box"
              >
            </div>
            <div class="icon-text">Text</div>
          </div>
        </div>

        <div class="col-item ">
          <div class="col-icon-wrapper">
            <div class="icon-sign">
              <img
                src="https://cdn.shopify.com/s/files/1/0605/8872/0370/files/icon-sign.svg?v=1742894532"
                class="icon-sign-box"
              >
            </div>
            <div class="main-icon-wrap">
              <img
                src="https://cdn.shopify.com/s/files/1/0605/8872/0370/files/icon-message-latter.svg?v=1742895193"
                class="img-box"
              >
            </div>
            <div class="icon-text">Text</div>
          </div>
        </div>
      </div>
      <!--
        <p>
        	<a href="{{ routes.account_logout_url }}" title="{{ 'customer.account.log_out' | t | escape }}" class="myaccount--link">
            	{% render 'svg-icons' with 'thb-log-out' %}
            	<span class="text-button">{{ 'customer.account.log_out' | t }}</span>
          	</a>
        </p>
      -->
    </div>
  </div>
{% endcomment %}
    {% assign unfullfill_orders = customer.orders | where:"fulfillment_status","unfulfilled" %}
    {% assign partial_orders  = customer.orders | where:"fulfillment_status","partial"%}
     {% assign fullfill_orders  = customer.orders | where:"fulfillment_status","fulfilled"%}
     {% assign upcoming_orders = fullfill_orders | concat:unfullfill_orders | concat:partial_orders  | uniq | sort: "created_at" | reverse %}
{% assign  include_orders = false %}
  {% if upcoming_orders.size > 0 %}
    {% assign  include_orders = true %}
    <div class="accound-page-wrapper">
      <div class="  myaccount-content space-around">
        <h2 class="myaccount--title">Upcoming Orders</h2>

        {% render 'upcoming-orders', orders: upcoming_orders, customer: customer %}
        {% comment %}
          {% paginate customer.orders by 20 %}
              {%- if customer.orders.size > 0 -%}
               <table class="no-borders">
               	<thead>
               		<tr>
          					<th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                      <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                      <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                      <th id="ColumnFulfillment" scope="col" role="columnheader">{{ 'customer.orders.fulfillment_status' | t }}</th>
                      <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
               	  </tr>
                 </thead>
                 <tbody role="rowgroup">
                   {% for order in customer.orders %}
          				<tr role="row">
                      <td
                        id="RowOrder"
                        role="cell"
                        headers="ColumnOrder"
                        data-label="{{ 'customer.orders.order_number' | t }}"
                      >
                        <a href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">
                          {{ order.name }}
                        </a>
                      </td>
                      <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                        {{ order.created_at | time_tag: format: 'date' }}
                      </td>
                      <td headers="RowOrder ColumnPayment" role="cell" data-label="{{ 'customer.orders.payment_status' | t }}">
                        {{ order.financial_status_label }}
                      </td>
                      <td headers="RowOrder ColumnFulfillment" role="cell" data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                        {{ order.fulfillment_status_label }}
                      </td>
                      <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                        {{ order.total_price | money_with_currency }}</td>
                    </tr>
                   {% endfor %}
                 </tbody>
               </table>
          	{%- else -%}
               <p>{{ 'customer.orders.none' | t }}</p>
             	{%- endif -%}
          	{% render 'pagination', paginate: paginate, pagination_type: 'paginated' %}
          {% endpaginate %}
        {% endcomment %}
      </div>
      {% comment %}
        <div class="small-12 large-4 columns myaccount-sidebar">
          <h4>{{ 'customer.account.details' | t }}</h4>
        {% if customer.default_address %}
        <label>{{ 'customer.account.default_address' | t }}</label>
        <address>
        	{{ customer.default_address.address1 }}<br />
        {% if customer.default_address.address2 != "" %}
        	{{ customer.default_address.address2 }}<br />
        {% endif %}
        	{{ customer.default_address.city }}, {% if address.default_address.province_code %}{{ customer.default_address.province_code }}, {% endif %}{{ customer.default_address.country }}<br />
        	{{ customer.default_address.zip }}<br />
        	{{ customer.default_address.phone }}
        </address>
        {% endif %}
        <a href="{{ routes.account_addresses_url }}" class="text-button">
        	{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
        </a>
        </div>
      {% endcomment %}
    </div>
  {% endif %}
  <div class="accound-page-wrapper">
    
              <div class="column-address-infor {% unless include_orders %} space-around {% endunless %}">
              <h2 class="myaccount--title">Manage my account</h2>
              <div class="address-box-wrapper">
                <div class="flex-wrap">
                  <p class="o-subtitle">Profile</p>
                  <p class="o-title">Edit your personal information and set your communication preferences</p>
                  <a href="/account#profile" class="link link-underline"  onclick="openInfo();" >Edit</a>
                </div>
                    <div class="flex-wrap">
                      <p class="o-subtitle">Addresses</p>
                                        <p class="o-title">Add and manage your addresses to save time the next time you place an order.</p>
                             <a href="/account#profile" class="link link-underline"  onclick="openAddress();">Edit</a>
                </div>
              </div>
              </div>
        
  </div>
</div>
<script>

</script>
