<div class="order-container" data-account-tab="orders">
    {% assign unfullfill_orders = customer.orders | where:"fulfillment_status","unfulfilled" %}
    {% assign partial_orders  = customer.orders | where:"fulfillment_status","partial"%}
     {% assign fullfill_orders  = customer.orders | where:"fulfillment_status","fulfilled"%}
     {% assign upcoming_orders = fullfill_orders | concat:unfullfill_orders | concat:partial_orders  | uniq | sort: "created_at" | reverse%}
  {% if upcoming_orders.size > 0 %}
  <div class="accound-page-wrapper order-container">
  	  <div class=" myaccount-content">
        <div class="space-around border-bottom">
			<h2 class="myaccount--title">Upcoming Orders</h2>

{% render 'upcoming-orders',orders: upcoming_orders  %}

        {% comment %}
			{% paginate customer.orders by 20 %}
	      {%- if customer.orders.size > 0 -%}
		      <table class="no-borders">
		      	<thead>
		      		<tr>
								<th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
	              <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
	              <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
	              <th id="ColumnFulfillment" scope="col" role="columnheader">{{ 'customer.orders.fulfillment_status' | t }}</th>
	              <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
		      	  </tr>
		        </thead>
		        <tbody role="rowgroup">
		          {% for order in customer.orders %}
							<tr role="row">
	              <td
	                id="RowOrder"
	                role="cell"
	                headers="ColumnOrder"
	                data-label="{{ 'customer.orders.order_number' | t }}"
	              >
	                <a href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">
	                  {{ order.name }}
	                </a>
	              </td>
	              <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
	                {{ order.created_at | time_tag: format: 'date' }}
	              </td>
	              <td headers="RowOrder ColumnPayment" role="cell" data-label="{{ 'customer.orders.payment_status' | t }}">
	                {{ order.financial_status_label }}
	              </td>
	              <td headers="RowOrder ColumnFulfillment" role="cell" data-label="{{ 'customer.orders.fulfillment_status' | t }}">
	                {{ order.fulfillment_status_label }}
	              </td>
	              <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
	                {{ order.total_price | money_with_currency }}</td>
	            </tr>
		          {% endfor %}
		        </tbody>
		      </table>
				{%- else -%}
	       <p>{{ 'customer.orders.none' | t }}</p>
	     	{%- endif -%}
				{% render 'pagination', paginate: paginate, pagination_type: 'paginated' %}
		 {% endpaginate %}
        {% endcomment %}
	  </div>
            </div>
  </div>
    {% else %}
    <div class="no-order">
      <style>
        .no-order{
          display:flex;
          justify-content:center;
          align-items:center;
          height:200px;
        }
      </style>
    <h5>You don’t have any upcoming orders</h5>
    </div>
    {% endif %}

  {% assign complete_orders = customer.orders | where:'fulfillment_status' ,'complete' %}
    {% if complete_orders.size > 0 %}
              <div class="row">
                  	  <div class="small-12  columns myaccount-content">
                        	
                        <div class="space-around">
                          <h2 class="myaccount--title">Past Orders</h2>
   {% render "prev-orders",orders: complete_orders%}
                      </div>
                      </div>
              </div>
      {% endif %}

            </div>
{% schema %}
  {
    "name": "Order account",
    "settings": [],
    "presets":[
      {
        "name":"Order account"
      }
    ]
  }
{% endschema %}