
<div class="" data-account-tab="events">
  	<div class="accound-page-wrapper">
	
          <div class="space-around">
            <div class="events-box">
                    <p class="title-head">Upcoming Events</p>
              {% if section.settings.title != blank %}
              <p class=" o-title">{{ section.settings.title }}</p>
                {% endif %}
              <div class="video-frame-box">
                {% assign video_id = section.settings.video_id %}
                      <iframe
              src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=0"
              class="js-youtube"
              allow="autoplay; encrypted-media"
              allowfullscreen
              title="{{ section.settings.description | escape }}"
                        width="600"
                        height="400"
            ></iframe>
              </div>
            </div>

            <div class="space-around">
              <div class="invitation-box">
                <div class="invite-wrapper">
                  <div class="invite-image">
                    {% if section.settings.image != blank %}
                      {{ section.settings.image | image_url:width:1500 | image_tag }}
                    {% endif %}
                  </div>
                  <div class="invite-info">
                    <div class="flex-col">
                      <a href="/" class="link link-underline">Get Directions
                      </a>
                       <a href="{{ section.settings.invite_url }}" class="link link-underline">Download your Invite
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            
          </div>
        </div>

</div>

{% schema %}
  {
    "name": "Upcoming events",
    "settings": [
      {
        "type":"header",
        "content":"Invitation"
      },
  
      {
        "type":"image_picker",
        "id":"image",
        "label":"Image"
      },
    {
       "type":"url",
        "id":"invite_url",
        "label":"Invite url"
      },
         {
        "type":"header",
          "content":"Video"
      },
      {
        "type":"text",
        "id":"video_id",
        "label":"Video id",
        "default":"ojeRv3QIkjg"
      },
      {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default":"Ready-to-wear, Spring/Summer 2025"
      }
    ],
    "presets":[
      {
        "name":"Upcoming events"
      }
    ]
  }
{% endschema %}